* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-title {
  margin: 1em auto;
  width: max-content;
}

body {
  margin: auto;
  width: auto;
  min-width: 320px;
}

form {
  display: grid;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  margin: 0.6em auto;
  width: max-content;
}

form label {
  font-weight: 900;
  margin: 0.2em;
}

form input {
  margin: 0.2em;
  width: 320px;
  border-radius: 5px;
}

form #tokenAddressField:invalid {
  border-color: red;
}

form .read-only-field {
  background-color: #bfc9ca;
}

form #fetchBtn {
  font-weight: 800;
  margin: 1em auto;
  width: max-content;
  padding: 0.3em;
}
